* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(8, 35, 115);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 2%;
  border-radius: 19px;
}

h1 {
  font-size: 4rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  font-size: 4rem;
  margin: 4%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.ativa {
  width: 7rem;
  color: white;
  background-color: rgb(148, 148, 230);
  font-size: 2rem;
  padding: 2% 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.para {
  width: 7rem;
  display: none;
  color: white;
  background-color: red;
  font-size: 2rem;
  padding: 2% 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.resetar {
  width: 7rem;
  color: white;
  background-color: green;
  font-size: 2rem;
  padding: 2% 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 2%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20%;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1rem;
  }
}

@media screen and (max-height: 300px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 0.5rem;
  }

  .ativa {
    font-size: 1.5rem;
  }

  .para {
    font-size: 1.5rem;
  }

  .resetar {
    font-size: 1.5rem;
  }
}
